@use "../abstracts";

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  --text-color: black;
  --body-bg: white;
  --text-theme-color: #ff914d;
  --theme-color: #ffedc3;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 9999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

.icon {
  filter: var(--icon-color);
}

.container {
  @include abstracts.screen(sm) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.separate {
  margin: var(--margin) 0;
  height: 1px;
  background: var(--separate-color);
}

.product-row-margin {
  margin-top: 20px;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  z-index: 10;
  width: 270px;
  flex: 0 0 270px;
  position: fixed;
  height: 100vh;
  background-color: #1b2430;
  // background-color: #420a6d;
  color: white;
}

.main {
  max-width: 100%;
  flex: 1;
  margin-left: 270px;
  // padding: 20px;
}
S .main-content {
  margin-top: 100px;
  padding: 15px 15px;
}

.your-work-bgr {
  margin-top: 70px;
  width: 100%;
  height: 300px;
  background-image: url(../img/onwed-datasets-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.home {
  margin-top: 100px;
}
