.owned-datasets {
  &__bgr {
    width: 100%;
    height: 400px;
    background-image: url(../img/onwed-datasets-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 19px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border-right: 1px solid #aaa;
  }

  &__title:last-of-type {
    border-right: none;
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-right: 1px solid #aaa;
  }

  &__detail:last-of-type {
    border-right: none;
  }
}
